
#second {
	font-size: 20px;
	color: rgb(255, 255, 255);
}

#third {
	color: rgb(255, 255, 255);
}

#first {
	text-decoration: underline;
	text-align: center;
	font-family: 'Alegreya', serif;
}

#slogan {
	font-style: italic;
	font-family: 'Indie Flower', cursive;
}

#highlighted {
	font-family: 'Raleway', sans-serif;
}

body {
	background: url("../images/bird.jpg") 
	no-repeat center center fixed;

