*{
  box-sizing: border-box;
}

nav {
	background-color: #00CCFF;
	font-family: arial, sans-serif;
}

#pagelink {
	background-color: #0066FF;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px;
	width:200px;
}

#pagelink:hover {
	background-color: #00CCFF;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0pt;
}

.container { 
  width: 33.33%;
  height: 400px;
  margin: auto;
  float: left;
  padding: 3%;
  border: 1px clear #666;
  background: #ffffff;
}

h1 {
    color: rgb(0, 153, 204);
    font-family: 'Pacifico', cursive;
    font-size: 28pt;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 3em;
  }

p {
    color: rgb(0, 153, 204);
    font-family: 'Pacifico', cursive;
    float: center; 
    font-size: 16pt; 
    text-align: center; 
    width 30%; 
    margin-right: 1%; 
    margin-bottom: 0.5em;
    margin-left: 1%
}

img {
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#main-wrapper {
  padding: 0 0 100px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {float: none;
    width: 100%;

  }
}

footer { 
    display: block;
    color: rgb(0, 153, 204);
    font-family: 'Pacifico', cursive;
    text-align: center;
    height: 100px;
    width: 100%;
}
